@font-face {
    font-family: 'SlowGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/neurimboGothicRegular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  font-family: 'SlowGothic', Helvetica, Arial, sans-serif;
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

.desktop {
  background-color: #21282d;
  width: 100%;
  min-width: 1440px;
  min-height: 1024px;
  position: relative;
}
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #21282d; /* 기본 배경색 */
}
.text-wrapper {
  position: absolute;
  top: -42px;
  left: 43px;
  width: 715px;
  font-family: "SlowGothic", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 119px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .line {
  position: absolute;
  top: 17px;
  left: 610px;
  width: 647px;
  height: 22px;
}

.desktop .ellipse {
  left: 1300px;
  position: absolute;
  top: 51px;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 6.15px;
  aspect-ratio: 1;
}

.desktop .div {
  left: 1340px;
  position: absolute;
  top: 51px;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 6.15px;
  aspect-ratio: 1;
}

.desktop .ellipse-2 {
  left: 1379px;
  position: absolute;
  top: 51px;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 6.15px;
  aspect-ratio: 1;
}