:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #21282d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@font-face {
    font-family: 'SlowGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/neurimboGothicRegular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  font-family: 'SlowGothic', Helvetica, Arial, sans-serif;
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

.desktop {
  background-color: #21282d;
  width: 100%;
  min-width: 1440px;
  min-height: 1024px;
  position: relative;
}
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #21282d; /* 기본 배경색 */
}
.bodytext {
  position: absolute;
  top: 225px;
  left: 50px;
  width: 1500px;
  font-family: "SlowGothic", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 119px;
  letter-spacing: -2px;
  line-height: 87px;
  opacity: 0.1;
}
.text-wrapper {
  position: absolute;
  top: 110px;
  left: 50px;
  width: 715px;
  font-family: "SlowGothic", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 119px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .line {
  position: absolute;
  top: 171px;
  left: 440px;
  width: 1000px;
  height: 18px;
}

.desktop .ellipse {
  right: 110px;
  position: absolute;
  top: 177.5px;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 6.15px;
  aspect-ratio: 1;
}

.desktop .div {
  right: 80px;
  position: absolute;
  top: 177.5px;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 6.15px;
  aspect-ratio: 1;
}

.desktop .ellipse-2 {
  right: 50px;
  position: absolute;
  top: 177.5px;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 6.15px;
  aspect-ratio: 1;
}